footer {
	bottom: 0px;
	position:fixed;
	background-color:#aaaaaa;
	height: 80px;
	width: 100%;
}
header {
	position: fixed;
	background-color:#cccccc;
	height:64px;
	z-index:2;
	width:100%;
}
tr:nth-child(odd) td{
	background-color:#222222;
}	
table {
	width: auto;
}
nav {
	position:fixed;
	top:64px;
	width:220px;
	height:620px;
	background-color:#111111;
}

.sp-view {
	left:220px;
	top: 64px;
	width: 320px;
	position:absolute;
}
body {		
	color:#FFFFFF;
	text-shadow: 0px 1px 1px #000000;
	font-family: "Tahoma";
	font-size: 11px;
	margin: 0px;
	background-color:#333333;
}